@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  position: relative;
  color: #30455c;
  font-family: 'Montserrat' !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Montserrat' !important;
}

footer {
  background-color: #000000;
  color: #ffffff;
}

.fancy-text {
  background: linear-gradient(90deg, #3bc6f4, #49bfab);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer a:hover {
  background: linear-gradient(90deg, #3bc6f4, #49bfab);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.w3-top {
  z-index: 2 !important;
}

#content {
  margin-bottom: 32px;
  margin-top: 54.5px;
  min-height: calc(100vh - 171px);
  max-width: 1200px;
}

#content.centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo-small {
  width: 40px;
  margin: -6px 0;
}

#logo-large {
  max-width: 300px;
  width: 100%;
}

#gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.image-container {
  aspect-ratio: 4/3;
  background-color: #30455c;
  cursor: pointer;
  max-width: calc(25% - 16px);
  transition: scale 0.4s;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .image-container {
    max-width: calc(33.33% - 12px);
  }
}

@media screen and (max-width: 750px) {
  .image-container {
    max-width: calc(50% - 8px);
  }
}

@media screen and (max-width: 400px) {
  .image-container {
    max-width: 100%;
  }
}

.image-container:hover {
  scale: 1.02;
}

.image-container:active {
  scale: 0.98;
}

#popup {
  background-color: white;
  border: none;
}

dialog::backdrop {
  background: #30455c99;
}

#popup span {
  background-color: #ffffff88;
  cursor: pointer;
  font-weight: 900;
  margin-left: calc(100% - 30px);
  padding: 5px 12px 8px;
}

#popup-image {
  height: 85vh;
  margin-top: 15px;
  max-width: 100%;
  width: 90vw;
}

i {
  padding-left: 4px;
}

#mobile-menu {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 #30455c29, 0 2px 10px 0 #30455c1f;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  transition: 0.4s;
  z-index: 1;
}

#mobile-menu a {
  border-bottom: 1px solid #30455c55;
  display: block;
  width: 100%;
}

iframe {
  max-width: 100%;
}
